@import '../../assets/styles/variables.scss';

.profileImage {
    display: flex;

    img {
        margin: auto;
        width: 200px;
        border-radius: 50%;
        border: 5px solid $primary-color;
    }
}

.field {
    display: flex;

    .label {
        font-weight: bold;
        min-width: 100px;
    }

    .value {
        flex-grow: 1;
    }
}