@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

.parallax {
  background-image: url("../../assets/images/desk_tablet.jpg");
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  position: relative;
  display: flex;
  text-align: center;

  .textContainer {
    @include media-breakpoint-down(sm) {
      margin-left: -10vw;
    }

    .hr {
      border-top: 1px solid black;
      margin: 20px;
    }
  }

}