.parallax {
  background-image: url("../../assets/images/desk_tablet.jpg");
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;

  .parallaxTextContainer {
    margin: auto;
    max-width: 600px;
    text-align: center;

    .userName {
      font-size: 46px;
      font-weight: bold;
    }

    .hr {
      border-top: 1px solid black;
      margin: 20px;
    }

    .userDesc {
      font-size: 26px;
    }
  }
}