@import "node_modules/bootstrap/scss/bootstrap";
@import "./variables.scss";

body {
    font-size: 16px;
}

.gs-section {
    border-bottom: 1px solid $border-color;
    text-align: center;
    padding: 20px 0px;
    margin-bottom: 20px;

    .gs-header {
        font-size: 40px;
        color: $primary-color;
        margin-bottom: 20px;
    }

    .gs-subHeader {
        font-size: 25px;
        color: #a4a4a8;
    }
}

.gs-subSection {
    margin: 20px 0px;
    ;

    .gs-header {
        font-size: 30px;
        color: $primary-color;
        color: $primary-color;
    }
}

@include media-breakpoint-down(md) {
    body {
        font-size: 14px;
    }
}